/* Space out content a bit */
html,
body {
  height: 100%;
  background-color:#f3f3f3;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
.navbar-static-top{
	z-index:300;
}
.dropdown-menu, .dropdown{
	z-index: 9999;
}
.navbar-static-top.main-nav{
	z-index: 9999;
	-moz-box-shadow: 0;
  -webkit-box-shadow: 0 #999;
   box-shadow: 0;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #d1d2d4;
  margin-top:30px;
}
img.logoimg{
	width: 152px;
	margin:-5px 0;
}
.top-menu-bar-wrap{
	padding:15px 0;
}
.home-icons{
	white-space:nowrap;
}
.home-icons a{
	color:#999999;
}
.home-icons a:focus,.home-icons a:hover{
	text-decoration: none;
	color:#333;
}
.top-menu-bar-wrap {
	margin: 0 -15px;
}
.nav-courses-wrap a{
	color:#f59f0c;
}
.nav-courses-wrap a:focus, .nav-courses-wrap a:hover{
	color:#e09008;
	text-decoration:none;
}
img.home-icons-bal{
	height: 20px;
	margin-bottom: 4px;
}
.main-nav{
  	background-color: #f59f0c;
	background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e0e0e0));
	background: -webkit-linear-gradient(top,#f4f4f4,#e0e0e0);
	background: -moz-linear-gradient(top,#f4f4f4,#e0e0e0);
	background: -ms-linear-gradient(top,#f4f4f4,#e0e0e0);
	background: -o-linear-gradient(top,#f4f4f4,#e0e0e0);
	background: linear-gradient(top,#f4f4f4,#e0e0e0);
	margin-bottom:0 !important;
  
}
.second.navbar-static-top {
  margin-bottom: 19px;
  background-color: #fff;
  -moz-box-shadow: 0 2px 2px -1px #999;
  -webkit-box-shadow: 0 2px 2px -1px #999;
   box-shadow: 0 2px 2px -1px #999;
}
.copyright-wrap{
	padding:15px 0;
}
.nomargin{
	margin:0;
}
.nopadding{
	margin:0;
}
.center{
	text-align:center;
}
img.bal-copy{
	margin-left:5px;
	margin-top:-3px;
}
.search-home.form-control, .filter-home.form-control{
	display: block;
	width: 100%;
	font-weight:normal;
	float:left;
	padding: 30px 52px 30px 12px;
	font-size: 1.3em;
	line-height: 150%;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn.search-home{
	float:left;
	margin-left:-40px;
}
.span-full a.btn{
	width:100%;
	display:block;
}
button.home-button{
	border-radius: 0px 4px 4px 0;
	padding: 20px 12px;
}
.span-full{
	margin:15px 0; 
}
.span-full a{
	font-size:1.6em;
}
.span-full .btn{
	padding: 16px 12px;
}
.course-thumbs{
	margin-bottom:10px;
	padding:15px;
	border-radius:4px;
	background-color:#fff;
	-moz-box-shadow: 0 0 4px #aaa;
	-webkit-box-shadow: 0 0 4px #aaa;
	box-shadow: 0 0 4px #aaa;
}
.less-listing.course-thumbs{
	margin-bottom:20px;
	padding:15px;
	border-radius:4px;
	background-color:#fff;
}
.less-title{
	font-size:1.3em;
	
}
.course-thumbs p{
	font-size:.9em;
}
.course-thumbs a{
	display:block;
}
.nopadding{
	padding:0;
} 
.nomargin{
	margin:0;
} 
ul.listnone{
	list-style-type: none;
}
li.less-listing a{
	display:block;
}
li.less-listing p{
	color:#333;
	text-decoration:none;
}
li.less-listing a:hover{
	text-decoration:none;
}
li.less-listing{
	padding-right:40px;
	margin-bottom:15px;
}
.bg-arrow{
	background:transparent url(../images/arrows/arrow-right-full.png) no-repeat center right;
	padding-right: 40px;
}
.form-group,.fm-group{
	margin-bottom:30px;
}
select.filter-home.form-control{
	display: block;
	width: 100%;
	font-weight:normal;
	float:left;
	padding: 30px 52px 30px 12px;
	font-size: 1.3em;
	line-height: 150%;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.long-btn {
	/*width:100%;*/
}
.form-control{
	padding: 25px 20px;
	height: 50px;
	border-radius: 40px;
}
.filter-wrapper .btn{
	padding: 17px 12px;
	margin-bottom: 0;
	font-size: 20px;
	border-radius: 32px;
}
.italisize{
	font-style:italic;
}
h1{
	font-size:20px;
}
h2{
	font-size:18px;
}
h3{
	font-size:16px;
}
.lessons-wrap{
	margin:20px 0;
}
.lesson-img-wrap img{
	width:100%;
}
.jumbotrons img{
	width:100%;
}
.jumbotrons{
	margin-bottom:30px;
}
.menu-icon{
	padding:6px;
	color:#fff;
}
.menu-text {
	margin-right:10px;
	margin-top:2px;
	font-weight:bold;
	color:#999999;
}
.dropdown-menu {
	left: 15px;
}
a {
	color: #f59f0c;
	text-decoration: none;
}
a {
	color: #e3930b;
}